/*        Estilo de Pagina    */
:root {
    /* LINKS COLOR*/
    --links: #F97F51; /*  */
    --linkshover: #FEA47F;
    /*companyname colors */
    --company:  #F97F51;/* #B8B7B7; gris chulito*/
    /*backgorund*/
    --background: #FFFDF0;/*marfil original*/
  }

/* nav links
--------------------------------------------------------*/

.navBarLink {
        color : var(--links) ; 
        font-weight: 500;
}

.navBarLink:hover {
    color : var(--linkshover);
    border-bottom: 5px solid;
    font-weight: 600;
}


/* company name
--------------------------------------------------------*/


.companyname {

    color: var(--company) ;
    font-size: 20 px;
    font-weight: 20px;

}

#background-img {
 
  background-color: var(--background);
  
}