/*        Estilo de Pagina    */
:root {
    /* LINKS COLOR*/
    --links: #F97F51; /*  */
    --linkshover: #FEA47F;
    /*companyname colors */
    --company:  #F97F51;/* #B8B7B7; gris chulito*/
    /*backgorund*/
    --background: #FFFDF0;/*marfil original*/
  }

/* nav links
--------------------------------------------------------*/

.navBarLink {
        color : var(--links) ; 
        font-weight: 500;
}

.navBarLink:hover {
    color : var(--linkshover);
    border-bottom: 5px solid;
    font-weight: 600;
}


/* company name
--------------------------------------------------------*/


.companyname {

    color: var(--company) ;
    font-size: 20 px;
    font-weight: 20px;

}

#background-img {
 
  background-color: var(--background);
  
}

/* Parallax
--------------------------------------------------------*/

.tituloParallax {
  color: #333333;
  font-size: 55px;
  line-height: 1;
  font-weight: 700;
  text-align: center;  
  text-shadow: 0px 0px 10px #FFFDF0;

}

.paratext {  
  line-height: 9;
  font-weight: 10000;
  text-align: center;
}